Package: @PACKAGE@
Version: @VERSION@
Section: base
Priority: optional
Architecture: arm64
Maintainer: @MAINTAINER@
Depends: nodejs (>= 20), nodejs (<< 21)
Description: BLE-Bridge for pintomind-player packaged for Raspberry Pi (64-bit).
